<div class='auth-container'>
  <div class='title-container'>

  </div>
  <form action='/login' method='post' class='form'>

    <div class='form-control'>
      <i class="bi bi-person"></i>
      <input
        type='text'
        name='username'
        placeholder='Digite o seu nome de usuário'
        required
      />
    </div>
    <div class='form-control'>
      <i class='bi bi-lock'></i>
      <input
        type='password'
        name='password'
        placeholder='Disgite a sua senha'
        required
      />
    </div>
    {{#if messages.error-login}}
      <div class='message'>
        {{messages.error-login}}
      </div>
    {{/if}}
    <input type='submit' value='Entrar' class='btn' />

  </form>
</div>