<div class='auth-container'>
  {{#if messages.error-login }}
    <div class='message-error message-login'>
      <span>{{messages.error-login}}</span>
    </div>
  {{/if}}
  <section class="card-auth">

    <div class='logo'>
      <img src='/image/logo-completa-transparente.svg' alt='Logo da Câmara Municipal de Três Rios'/></a>
    </div>

    <div class='title-auth'>
      <h1>ticket<span>CVTR</span></h1>
    </div>

    <form action='/login' method='post' class='form form-auth'>
      <div class='form-control'>
        <i class='bi bi-person'></i>
        <input
          type='text'
          name='username'
          placeholder='Digite o seu nome de usuário'
          required
        />
      </div>
      <div class='form-control'>
        <i class='bi bi-lock'></i>
        <input
          type='password'
          name='password'
          placeholder='Disgite a sua senha'
          required
        />
      </div>
      <input type='submit' value='Entrar' class='btn' />

    </form>
  </section>
</div>