<div class='auth-container'>
  <div class='title-container'>
    <h2 class='title'>Cadastro </h2>
  </div>
  {{#if messages.message}}
    <div class='message'>
      {{messages.error-registro}}
    </div>
  {{/if}}
  <form action='/registro' method='post' class='form'>

    <div class='form-control'>
      <i class='bi bi-envelope'></i>
      <input
        type='text'
        name='username'
        placeholder='Digite o seu nome de usuário'
        required
      />
    </div>
    <div class='form-control'>
      <i class='bi bi-lock'></i>
      <input
        type='password'
        name='password'
        placeholder='Crie uma senha'
        required
      />
    </div>
    <div class='form-control'>
      <i class='bi bi-lock'></i>
      <input
        type='password'
        name='confirmpassword'
        placeholder='Confirme a sua senha'
        required
      />
    </div>
    {{#if messages.error-registro}}
      <div class='message'>
        {{messages.error-registro}}
      </div>
    {{/if}}
    <input type='submit' value='Cadastrar' class='btn' />
    <p>Já tem conta? <a href='/login'>Entrar</a></p>

  </form>
</div>