body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #25283A;
}

body::-webkit-scrollbar-thumb {
  background-color: #3e3d3d;
  border-radius: 50px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  color: #828597;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #16141C;
}

a {
  text-decoration: none;
  transition: 0.8s;
  color: #828597;
  font-weight: 500;
}
a:hover {
  color: #3F7446;
}

input, textarea {
  border: none;
  outline: none;
  resize: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

ul {
  list-style: none;
  margin: 0;
}

@page {
  size: A4 portrait;
  margin: 10;
}
#footer {
  margin-top: 10%;
  border-top: 1px solid #34384e;
}
#footer .container-footer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
@media (max-width: 912px) {
  #footer .container-footer {
    padding: 1rem 3rem;
  }
}
@media (max-width: 720px) {
  #footer .container-footer {
    padding: 1rem;
  }
}
@media (max-width: 720px) {
  #footer .container-footer {
    flex-direction: column;
  }
}
#footer .container-footer img {
  height: 120px;
}
#footer .container-footer h6, #footer .container-footer p, #footer .container-footer span {
  color: #f9f9f9;
  margin: 0;
}
#footer .container-footer h6, #footer .container-footer span {
  font-weight: 200;
  letter-spacing: 0.3rem;
}
#footer .container-footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nav-bar {
  background-color: #25283A;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #34384e;
}
#nav-bar .container-menu {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  padding-top: 0;
}
@media (max-width: 912px) {
  #nav-bar .container-menu {
    padding: 1rem 3rem;
  }
}
@media (max-width: 720px) {
  #nav-bar .container-menu {
    padding: 1rem;
  }
}
#nav-bar .container-menu img {
  height: 80px;
}
@media (max-width: 720px) {
  #nav-bar .container-menu img {
    height: 40px;
  }
}
#nav-bar .container-menu ul {
  display: flex;
  gap: 1rem;
}
#nav-bar .container-menu ul li a {
  font-size: 1rem;
  font-weight: 600;
}
@media (max-width: 720px) {
  #nav-bar .container-menu ul li a {
    font-size: 0.9rem;
  }
}

.container-body {
  min-height: 100vh;
}

.title {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
@media (max-width: 720px) {
  .title {
    font-size: 1.3rem;
  }
}

.title-pages {
  font-size: 2rem;
  color: #828597;
}
@media (max-width: 720px) {
  .title-pages {
    font-size: 1.5rem;
  }
}

.alert {
  font-size: 1rem;
  color: #524c4c;
  text-transform: none;
  font-weight: 400;
}

.no-results {
  color: #cb3131;
}

@media (max-width: 720px) {
  .default-container-buttons {
    flex-direction: row-reverse;
  }
}

.btn {
  padding: 0.8rem 2rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.8s;
  border: 1px solid #3F7446;
  text-transform: uppercase;
  background-color: #CD432D;
  color: #f9f9f9;
  border-radius: 6px;
}
@media (max-width: 720px) {
  .btn {
    padding: 0.4rem 1rem;
  }
}
.btn:hover {
  background-color: #3F7446;
  color: #f9f9f9;
}

.form-conatiner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 912px) {
  .form-conatiner {
    padding: 1rem 3rem;
  }
}
@media (max-width: 720px) {
  .form-conatiner {
    padding: 1rem;
  }
}

.form {
  padding: 1.5rem 0;
  width: 100%;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}
.form-control label {
  color: #3F7446;
  text-transform: uppercase;
}
@media (max-width: 720px) {
  .form-control label {
    font-size: 0.8rem;
  }
}
.form-control input, .form-control textarea, .form-control select {
  padding: 1rem;
  width: 85%;
  border-radius: 6px;
  background-color: #3F7446 !important;
  color: #f9f9f9;
}
@media (max-width: 720px) {
  .form-control input, .form-control textarea, .form-control select {
    width: 75%;
    padding: 0.8rem;
  }
}
.form-control input:disabled, .form-control textarea:disabled, .form-control select:disabled {
  background-color: #25283A !important;
  color: #828597;
}
.form-control input::placeholder, .form-control textarea::placeholder, .form-control select::placeholder {
  color: rgba(255, 255, 255, 0.3098039216);
}

.validation input::placeholder {
  color: #524c4c;
}

.container-form-view {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 912px) {
  .container-form-view {
    padding: 1rem 3rem;
  }
}
@media (max-width: 720px) {
  .container-form-view {
    padding: 1rem;
  }
}

.table {
  max-width: 1200px;
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid #34384e;
}
@media (max-width: 912px) {
  .table {
    display: none;
  }
}
.table th, .table td {
  padding: 1rem;
  text-align: justify;
}
.table th {
  background-color: #25283A;
  color: #3F7446;
}
.table tr:nth-child(odd) {
  background-color: #d4d2d2;
}
.table tr:nth-child(even) {
  background-color: #25283A;
}
.table i {
  transition: 0.8s;
  margin-left: 1.2rem;
}
.table i:hover {
  cursor: pointer;
  color: #3F7446;
}

.table-mobile {
  display: none;
}
@media (max-width: 912px) {
  .table-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.table-mobile-item {
  margin-bottom: 1rem;
  border-bottom: 1px solid #34384e;
  padding: 1rem;
  background-color: #d4d2d2;
  border-radius: 6px;
}
.table-mobile-item p {
  margin-bottom: 1rem;
}
.table-mobile-item div {
  display: flex;
  gap: 1rem;
}
.table-mobile-item:nth-child(even) {
  background-color: #25283A;
}

.default-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 912px) {
  .default-container {
    padding: 1rem 3rem;
  }
}
@media (max-width: 720px) {
  .default-container {
    padding: 1rem;
  }
}
.default-container-item {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
@media (max-width: 720px) {
  .default-container-item {
    flex-direction: column;
  }
}
.default-container-item #search-mobile {
  display: none;
}
@media (max-width: 720px) {
  .default-container-item #search-mobile {
    display: inline;
  }
}
@media (max-width: 720px) {
  .default-container-item #search {
    display: none;
  }
}
.default-container-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3rem;
  gap: 1rem;
}

.container-view {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
@media (max-width: 912px) {
  .container-view {
    padding: 1rem 3rem;
  }
}
@media (max-width: 720px) {
  .container-view {
    padding: 1rem;
  }
}

.container-topic {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  flex-direction: column;
}
@media (max-width: 912px) {
  .container-topic {
    padding: 1rem 3rem;
  }
}
@media (max-width: 720px) {
  .container-topic {
    padding: 1rem;
  }
}

.container-topic-list {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  padding-top: 0;
  width: 100%;
}
@media (max-width: 912px) {
  .container-topic-list {
    padding: 1rem 3rem;
  }
}
@media (max-width: 720px) {
  .container-topic-list {
    padding: 1rem;
  }
}

.default-container-title {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  padding-top: 10%;
  margin-bottom: 2rem;
}
@media (max-width: 912px) {
  .default-container-title {
    padding: 1rem 3rem;
  }
}
@media (max-width: 720px) {
  .default-container-title {
    padding: 1rem;
  }
}
@media (max-width: 912px) {
  .default-container-title {
    padding-top: 20%;
  }
}
@media (max-width: 720px) {
  .default-container-title {
    padding-top: 7rem;
  }
}
.default-container-title #back-mobile {
  display: none;
}
@media (max-width: 720px) {
  .default-container-title #back-mobile {
    display: inline;
  }
}
@media (max-width: 720px) {
  .default-container-title #back {
    display: none;
  }
}
.default-container-title button {
  color: #3F7446;
  border: 0;
  background: none;
  transition: 0.8s;
}
.default-container-title button:hover {
  cursor: pointer;
  color: #828597;
}

.container-search {
  width: 100%;
  margin: 0 auto;
}
.container-search form {
  display: flex;
}
.container-search form input {
  background: none;
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid #34384e;
}
@media (max-width: 720px) {
  .container-search form input {
    max-width: 70%;
  }
}
.container-search form .btn {
  background-color: #828597;
  margin-left: 1rem;
  transition: 0.8s;
}
.container-search form .btn:hover {
  background-color: #CD432D;
}

.container-search-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
