body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #25283A;
}

body::-webkit-scrollbar-thumb {
  background-color: #3e3d3d;
  border-radius: 50px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  color: #9c9faf;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #16141C;
}

a {
  text-decoration: none;
  transition: 0.8s;
}
a:hover {
  color: #3F7446;
}

input, textarea {
  border: none;
  outline: none;
  resize: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

ul {
  list-style: none;
  margin: 0;
}

@page {
  size: A4 portrait;
  margin: 10;
}
#footer {
  position: absolute;
  width: 100%;
  border-top: 1px solid rgba(52, 56, 78, 0.4784313725);
  z-index: 99999 !important;
  background: #0f0d13;
}
#footer .container-footer {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
}
@media (max-width: 912px) {
  #footer .container-footer {
    padding: 1rem 3rem;
  }
}
@media (max-width: 720px) {
  #footer .container-footer {
    padding: 1rem;
  }
}
@media (max-width: 720px) {
  #footer .container-footer {
    flex-direction: column;
  }
}
#footer .container-footer img {
  height: 120px;
}
#footer .container-footer h6, #footer .container-footer p, #footer .container-footer span {
  color: #f9f9f9;
  margin: 0;
}
#footer .container-footer h6, #footer .container-footer span {
  font-weight: 200;
  letter-spacing: 0.3rem;
}
#footer .container-footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nav-bar {
  display: flex;
  align-items: flex-start;
  justify-content: first baseline;
  flex-direction: column;
  position: fixed;
  overflow: hidden;
  max-width: 28%;
  top: 0px;
  height: 100vh;
  padding-right: 2%;
  padding-left: 5%;
  border-right: 1px solid rgba(52, 56, 78, 0.4784313725);
}
#nav-bar .header-nav img {
  margin-left: -10px;
  width: 150px;
}
#nav-bar .header-nav h3, #nav-bar .header-nav span {
  font-size: 1.5rem;
  color: #f9f9f9;
}
#nav-bar .header-nav h3 {
  font-weight: 300;
}
#nav-bar .header-nav span {
  font-weight: 600;
}
#nav-bar .header-nav a {
  margin: 0;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
#nav-bar .navigation {
  margin-top: 2rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#nav-bar .navigation li {
  display: flex;
  justify-content: baseline;
  align-items: center;
}
#nav-bar .navigation li a, #nav-bar .navigation li i {
  color: #f9f9f9;
}
#nav-bar .navigation li a:hover, #nav-bar .navigation li i:hover {
  color: #9c9faf;
}
#nav-bar .navigation li a:hover i, #nav-bar .navigation li i:hover i {
  color: #9c9faf;
}
#nav-bar .navigation li i {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.layout {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 912px) {
  .layout {
    padding: 1rem 3rem;
  }
}
@media (max-width: 720px) {
  .layout {
    padding: 1rem;
  }
}

.container-body {
  min-height: 100vh;
  overflow: hidden;
  margin-left: 15.9%;
}
@media (max-width: 912px) {
  .container-body {
    margin-left: 30%;
    width: 100%;
  }
}

.modal.show .modal-dialog {
  display: flex;
  justify-content: center;
}

.modal {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 0 auto;
  padding: 0;
}

.modal-body input {
  padding: 1rem;
  margin: 2rem 0;
  width: 100%;
  border-radius: 6px;
  background-color: #25283A;
  color: #f9f9f9;
  border: 1px solid rgba(52, 56, 78, 0.4784313725);
}

.modal-title {
  color: #f9f9f9;
}

.close {
  border: none;
  background: transparent;
}
.close span {
  font-size: 2rem;
  color: #d66351;
  transition: 0.8s;
}
.close span:hover {
  color: #B23714;
}

.modal-header {
  border: none;
}

.modal-footer {
  margin-top: 2rem;
  border-top: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-footer .btn-pagination {
  display: flex;
  gap: 1rem;
}
.modal-footer .btn-pagination button {
  margin: 0;
}
.modal-footer #currentPage {
  color: #f9f9f9;
}

.modal-content {
  padding: 2rem;
  background-color: #01050c;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgb(15, 15, 15) 0px 2px 16px 0px;
  border-radius: 6px;
  min-width: 700px;
  border: 1px solid rgba(52, 56, 78, 0.4784313725);
}
.modal-content .table > :not(caption) > * > * {
  border: 1px solid rgba(52, 56, 78, 0.4784313725);
}
.modal-content .table {
  background-color: #16141C;
}
.modal-content .table th {
  background-color: #4a9554;
  border: 1px solid rgba(52, 56, 78, 0.4784313725);
}
.modal-content .table tr:hover td {
  color: #f9f9f9;
}

.auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  background-image: url("https://i.imgur.com/GyuiNi2.png");
  background-repeat: none;
}
.auth-container .message-login {
  justify-content: center;
  width: 100%;
}
.auth-container .message-login span {
  padding: 0.7rem 5rem;
}
.auth-container .card-auth {
  width: 500px;
  height: auto;
  border: 1px solid rgba(255, 255, 255, 0.1529411765);
  padding: 1.5rem;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.389);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 912px) {
  .auth-container .card-auth {
    width: 80%;
  }
}
@media (max-width: 720px) {
  .auth-container .card-auth {
    width: 85%;
  }
}
.auth-container .card-auth div {
  width: 100%;
}
.auth-container .card-auth .title-auth {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(52, 56, 78, 0.4784313725);
  margin-bottom: 3rem;
  margin-top: -1rem;
  padding-bottom: 1rem;
}
.auth-container .card-auth .title-auth h1 {
  font-size: 1.5rem;
  object-fit: cover;
  font-weight: 200;
  color: #f9f9f9;
}
.auth-container .card-auth .title-auth h1 span {
  font-size: 1.8rem;
  font-weight: 300;
  color: #f9f9f9;
}
.auth-container .card-auth .logo {
  display: flex;
  justify-content: center;
}
.auth-container .card-auth .logo img {
  width: 230px;
  object-fit: cover;
}
.auth-container .card-auth .form-auth .form-control {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.auth-container .card-auth .form-auth .form-control input {
  background-color: rgba(216, 208, 208, 0.2039215686);
  color: #f9f9f9;
  border: 1px solid rgba(195, 195, 195, 0.368627451);
}
.auth-container .card-auth .form-auth .form-control input::placeholder {
  color: rgba(195, 195, 195, 0.7333333333);
}
.auth-container .card-auth .form-auth .form-control i {
  font-size: 1.5rem;
  color: #f9f9f9;
}
.auth-container .card-auth .form-auth .btn {
  margin-top: 3rem;
  box-shadow: none;
}

.title {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
@media (max-width: 720px) {
  .title {
    font-size: 1.3rem;
  }
}

.title-pages {
  font-size: 2rem;
  color: #9c9faf;
}
@media (max-width: 720px) {
  .title-pages {
    font-size: 1.5rem;
  }
}

@media (max-width: 720px) {
  .default-container-buttons {
    flex-direction: row-reverse;
  }
}

.btn {
  padding: 0.5rem 2.8rem;
  cursor: pointer;
  transition: 0.8s;
  background-color: #3F7446;
  color: #f9f9f9;
  border-radius: 6px;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.btn-cancel {
  background: #25283A;
}
@media (max-width: 720px) {
  .btn {
    padding: 0.4rem 1rem;
  }
}
.btn:hover {
  background-color: #4a9554;
  color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.disabled {
  opacity: 0.1 !important;
  pointer-events: none !important;
}

.clear {
  background-color: #25283A;
}

.form-conatiner {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}
@media (max-width: 912px) {
  .form-conatiner {
    padding: 1rem 3rem;
  }
}
@media (max-width: 720px) {
  .form-conatiner {
    padding: 1rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.form .btn-submit {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  margin: 2rem 0;
}

.form-control {
  background-color: #16141C;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  justify-content: center;
  width: 50%;
  margin-bottom: 2rem;
  border: 0;
  padding: 0;
}
.form-control div {
  width: 100%;
}
.form-control div i {
  color: #f9f9f9;
  margin-left: 0.4rem;
}
.form-control label {
  text-transform: uppercase;
  color: #f9f9f9;
  font-size: 0.8rem;
  letter-spacing: 1.5;
}
@media (max-width: 720px) {
  .form-control label {
    font-size: 0.9rem;
  }
}
.form-control input, .form-control textarea, .form-control select {
  background-color: #25283A;
  padding: 0.7rem;
  width: 90%;
  border-radius: 6px;
  color: #f9f9f9;
  border: 1px solid rgba(52, 56, 78, 0.4784313725);
}
.form-control input[type=date]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1);
}
.form-control input[type=time]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1);
}
@media (max-width: 720px) {
  .form-control input[type=time]::-webkit-calendar-picker-indicator {
    width: 75%;
    padding: 0.8rem;
  }
}
.form-control input[type=time]::-webkit-calendar-picker-indicator::placeholder {
  color: #9c9faf;
}

.container-form-view {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 912px) {
  .container-form-view {
    padding: 1rem 3rem;
  }
}
@media (max-width: 720px) {
  .container-form-view {
    padding: 1rem;
  }
}

.table {
  max-width: 100%;
  width: 100vw;
  border-collapse: collapse;
  border-bottom: 1px solid rgba(52, 56, 78, 0.4784313725);
}
@media (max-width: 912px) {
  .table {
    display: none;
  }
}
.table th, .table td {
  padding: 0.8rem;
  text-align: center;
  border-right: 1px solid rgba(52, 56, 78, 0.4784313725);
}
.table th {
  color: #f9f9f9;
  background-color: #4a9554;
  border-bottom: 1px solid rgba(52, 56, 78, 0.4784313725);
  border: none;
}
.table tr:hover td {
  color: #f9f9f9;
}
.table tr:nth-child(even) {
  background: #191721;
}
.table i {
  transition: 0.8s;
  font-size: 1.3rem;
}
.table i:hover {
  cursor: pointer;
  color: #f9f9f9;
}
.table .table-align-left {
  text-align: left;
}
.table .table-padding {
  padding: 0.8rem 2rem;
}

.table-mobile {
  display: none;
}
@media (max-width: 912px) {
  .table-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.table-mobile-item {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(52, 56, 78, 0.4784313725);
  padding: 1rem;
  background-color: #d4d2d2;
  border-radius: 6px;
}
.table-mobile-item p {
  margin-bottom: 1rem;
}
.table-mobile-item div {
  display: flex;
  gap: 1rem;
}
.table-mobile-item:nth-child(even) {
  background-color: #25283A;
}

.btn-delete {
  background-color: transparent;
  border: none;
}
.btn-delete i {
  color: #d66351;
  transition: 0.8s;
}
.btn-delete i:hover {
  color: #B23714;
}

.btn-table {
  margin: 2rem;
  background-color: #25283A;
  border: 1px solid #3F7446;
}
.btn-table:hover {
  border: 1px solid #f9f9f9;
}

.btn-edit i {
  color: #ebe376;
  transition: 0.8s;
}
.btn-edit i:hover {
  color: #ccbf02;
}

.btn-detail i {
  color: #98e79f;
  transition: 0.8s;
}
.btn-detail i:hover {
  color: #3F7446;
}

.remove {
  display: none;
}

.default-container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 912px) {
  .default-container {
    padding: 1rem 3rem;
  }
}
@media (max-width: 720px) {
  .default-container {
    padding: 1rem;
  }
}
.default-container-item {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
@media (max-width: 720px) {
  .default-container-item {
    flex-direction: column;
  }
}
.default-container-item #search-mobile {
  display: none;
}
@media (max-width: 720px) {
  .default-container-item #search-mobile {
    display: inline;
  }
}
@media (max-width: 720px) {
  .default-container-item #search {
    display: none;
  }
}
.default-container-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3rem;
  gap: 1rem;
}

.container-view {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 912px) {
  .container-view {
    padding: 1rem 3rem;
  }
}
@media (max-width: 720px) {
  .container-view {
    padding: 1rem;
  }
}

.container-topic {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 912px) {
  .container-topic {
    padding: 1rem 3rem;
  }
}
@media (max-width: 720px) {
  .container-topic {
    padding: 1rem;
  }
}

.container-topic-list {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  width: 100%;
}
@media (max-width: 912px) {
  .container-topic-list {
    padding: 1rem 3rem;
  }
}
@media (max-width: 720px) {
  .container-topic-list {
    padding: 1rem;
  }
}

.default-container-title {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10%;
  margin-bottom: 2rem;
}
@media (max-width: 912px) {
  .default-container-title {
    padding: 1rem 3rem;
  }
}
@media (max-width: 720px) {
  .default-container-title {
    padding: 1rem;
  }
}
@media (max-width: 912px) {
  .default-container-title {
    padding-top: 20%;
  }
}
@media (max-width: 720px) {
  .default-container-title {
    padding-top: 7rem;
  }
}
.default-container-title #back-mobile {
  display: none;
}
@media (max-width: 720px) {
  .default-container-title #back-mobile {
    display: inline;
  }
}
@media (max-width: 720px) {
  .default-container-title #back {
    display: none;
  }
}
.default-container-title button {
  color: #3F7446;
  border: 0;
  background: none;
  transition: 0.8s;
}
.default-container-title button:hover {
  cursor: pointer;
  color: #9c9faf;
}

.container-search {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid rgba(52, 56, 78, 0.4784313725);
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 912px) {
  .container-search {
    flex-wrap: wrap-reverse;
    padding: 1rem 2rem;
  }
}
.container-search .form-search {
  display: flex;
  justify-content: start;
  gap: 1rem;
  width: 50%;
}
@media (max-width: 912px) {
  .container-search .form-search {
    width: 100%;
  }
}
.container-search .form-search input {
  padding: 0.5rem;
  width: 80%;
  border-radius: 6px;
  background-color: #25283A;
  color: #f9f9f9;
}
.container-search .form-search .btn-search {
  background-color: #3F7446;
  color: #f9f9f9;
  width: 20%;
  transition: 0.8s;
}
.container-search .form-search .btn-search:hover {
  background-color: #4a9554;
}
.container-search .user-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.container-search .user-name a {
  color: #f9f9f9;
}
.container-search .user-name a:hover {
  color: #9c9faf;
}
@media (max-width: 912px) {
  .container-search .user-name {
    margin-bottom: 1.5rem;
    justify-content: space-between;
    width: 100%;
  }
}
.container-search .user-name h6 {
  color: #f9f9f9;
  margin: 0;
}
.container-search .user-name i {
  font-size: 1.5rem;
  color: #f9f9f9;
}
@media (max-width: 912px) {
  .container-search .user-name i {
    display: none;
  }
}
.container-search .user-name div {
  margin-left: 2rem;
}
.container-search .user-name div a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #9c9faf;
  transition: 0.8s;
}
.container-search .user-name div a:hover {
  color: #d66351;
}
.container-search .user-name div a:hover i {
  font-size: 1.5rem;
  color: #d66351;
}
.container-search .user-name div a i {
  color: #9c9faf;
}
.container-search-item {
  padding-bottom: 1rem;
  justify-content: end;
}
.container-search-item .form-search {
  width: 30%;
}

.message-error, .message {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 2rem;
  animation: 5s ease-in-out 1 forwards visibility;
}
.message-error span, .message span {
  padding: 0.7rem;
  background-color: #dbcfcf;
  color: #B23714;
  border-radius: 6px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.message {
  width: 100%;
}
.message span {
  display: flex;
  justify-content: center;
  border-radius: 0;
  width: 100%;
  color: #3F7446;
}

.message-large-error span {
  color: #B23714;
}

@keyframes visibility {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
