@use '../base/variables'
@use '../base/base-mixins'
@use '../layouts/mixins'

.message-error, .message
  @include mixins.center-content()
  justify-content: center
  padding: 2rem 0
  border-bottom: 1px solid variables.$border-color
  box-shadow: variables.$shadow


  span
    width: 41%
    padding: 0.7rem 0
    background-color: #dbcfcf
    color: variables.$color-red-second
    border-radius: variables.$radius
    font-weight: bold
    box-shadow: variables.$shadow
    display: flex
    justify-content: center

.message
  width: 100%
  
  span
    display: flex
    justify-content: center
    border-radius: 0
    width: 100%
    color: variables.$primary-color

.message-large-error
  span
    color: variables.$color-red-second

@keyframes visibility
  0%
    opacity: 1
  90%
    opacity: 1
  100%
    opacity: 0

