@use '../base/variables'
@use '../base/base-mixins'
@use '../layouts/mixins'



.message-error, .message
  @include mixins.center-content()
  margin-bottom: 2rem
  justify-content: center
  padding: 1rem 0

  span
    width: 40%
    padding: 0.7rem
    background-color: #dbcfcf
    color: variables.$color-red-second
    border-radius: variables.$radius
    font-weight: bold
    box-shadow: variables.$shadow
    display: flex
    justify-content: center

.message
  width: 100%
  
  span
    display: flex
    justify-content: center
    border-radius: 0
    width: 100%
    color: variables.$primary-color

.message-large-error
  span
    color: variables.$color-red-second


@keyframes visibility
  0%
    opacity: 1
  90%
    opacity: 1
  100%
    opacity: 0

