@use '../base/variables'
@use '../layouts/mixins'
@use '../base/base-mixins'

.container-search
  width: 100%
  padding: 2rem
  border-bottom: 1px solid variables.$border-color
  margin-bottom: 3rem
  display: flex
  justify-content:  space-between
  align-items: center
  
  .form-search
    display: flex
    justify-content: start
    gap: 1rem
    width: 50%

    input
      padding: 1rem
      width: 80%
      border-radius: variables.$radius
      background-color: variables.$bg-second-color
      color: variables.$second-text-color

    .btn-search
      background-color: variables.$color-red-primary
      color: variables.$second-text-color
      width: 20%

      &:hover
        background-color: variables.$color-red-second
        
  .user-name
    display: flex
    justify-content: center
    align-items: center
    gap: 1rem

    h6
      color: variables.$second-text-color
      margin: 0

    i
      font-size: 1.5rem
      color: variables.$second-text-color
