@use '../base/variables'
@use '../layouts/mixins'
@use '../base/base-mixins'

.table
  max-width: variables.$container-width
  width: 100vw
  border-collapse: collapse
  border-bottom: 1px solid variables.$border-color

  @include base-mixins.tablet
    display: none

  th, td
    padding: 0.8rem
    text-align: center
    border-right: 1px solid variables.$border-color

  th
    color: variables.$second-text-color
    background-color: variables.$second-color
    border-bottom: 1px solid variables.$border-color
    border: none

  tr:hover td
    color: variables.$second-text-color

  tr:nth-child(even)
    background: #191721

  i
    transition: .8s
    font-size: 1.3rem
    &:hover
      cursor: pointer
      color: variables.$second-text-color

  .table-align-left
    text-align: left

  .table-padding
    padding: 0.8rem 2rem

.table-mobile
  display: none

  @include base-mixins.tablet
    display: flex
    flex-direction: column
    width: 100%

.table-mobile-item
  margin-bottom: 1rem
  border-bottom: 1px solid variables.$border-color
  padding: 1rem
  background-color: variables.$table-bg-color
  border-radius: variables.$radius

  p
    margin-bottom: 1rem

  div
    display: flex
    gap: 1rem

  &:nth-child(even)
    background-color: variables.$bg-second-color

.btn-delete
  background-color: transparent
  border: none

  i
    color: variables.$color-red-primary
    transition: .8s

    &:hover
      color: variables.$color-red-second

.btn-table
  margin: 2rem
  background-color: variables.$bg-second-color
  border: 1px solid variables.$primary-color

  &:hover
    border: 1px solid variables.$second-text-color

.btn-edit
  i
    color: #ebe376
    transition: .8s

    &:hover
      color: #ccbf02

.btn-detail
  i
    color: #98e79f
    transition: .8s

    &:hover
      color: variables.$primary-color

.remove
  display: none
  