@use '../base/variables'
@use '../layouts/mixins'
@use '../base/base-mixins'

.table
  max-width: variables.$container-width
  border-collapse: collapse
  border: 1px solid variables.$border-color
  margin: 2rem auto
  --bs-table-bg: variables.$bg-second-color

  @include base-mixins.tablet
    display: none

  th, td
    padding: 0.8rem
    text-align: center
    border-right: 1px solid variables.$border-color
    text-align: left

  th
    color: variables.$second-text-color
    background-color: variables.$second-color
    border-bottom: 1px solid variables.$border-color
    border: none

  td
    color: variables.$text-color

  tr:hover td
    color: variables.$second-text-color

  tr:nth-child(even)
    background: #191721

  button, a
    i
      text-align: cnter

  i
    transition: .8s
    font-size: 1.3rem

    &:hover
      cursor: pointer
      color: variables.$second-text-color

  .table-align-left
    text-align: left

  .table-padding
    padding: 0.8rem 2rem

.table-mobile, .table-modal
  display: none
  @include base-mixins.tablet
    display: flex
    flex-direction: column
    width: 100%
    margin-top: 2rem

.table-mobile-item, .table-mobile-dashboard
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 1.5rem
  padding-left: 5%
  border-radius: variables.$border-color-second

  .content, .actions
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    gap: 2rem
    padding-right: 5%

  &:nth-child(even)
    background-color: #191721

  .content
    p,b
      font-size: 1.5rem
      margin: 0

      @include base-mixins.smartphone
        font-size: 1rem

  .actions
    display: flex
    flex-direction: column
    justify-content: space-evenly
    .btn-edit, .btn-delete, .btn-detail
      padding: 0
      font-size: 1.5rem
      color: variables.$text-color
      display: flex
      justify-content: center
      gap: 1rem

      @include base-mixins.smartphone
        font-size: 1rem

      i
        font-size: 1.5rem

        @include base-mixins.smartphone
          font-size: 1rem

.btn-delete
  background-color: transparent
  border: none

  i
    color: variables.$color-red-primary
    transition: .8s

    &:hover
      color: variables.$color-red-second

.btn-table, .btn-table-mobile
  background-color: variables.$bg-second-color
  border: 1px solid variables.$primary-color
  max-width: variables.$container-width
  margin-left: 7.5%
  margin-top: 2rem

  &:hover
    border: 1px solid variables.$second-text-color

.btn-table
  @include base-mixins.tablet
    display: none

.btn-table-mobile
  padding: 1% 0
  width: 30%
  margin-left: 5%
  margin-top: 0
  margin-bottom: 2rem
  font-size: 1.5rem

  @include base-mixins.smartphone
    font-size: 1rem

.btn-edit
  background: none
  i
    color: #ebe376
    transition: .8s

    &:hover
      color: #ccbf02

.btn-detail
  i
    color: #98e79f
    transition: .8s

    &:hover
      color: variables.$primary-color

.remove
  display: none

.table-mobile-dashboard
  flex-direction: column

.modal-content
  @include base-mixins.tablet
    min-width: 90%
    height: 100%

.table-modal
  background-color: #16141c

  thead
    background-color: variables.$primary-color
    display: flex

    tr
      display: flex
      border-bottom: 1px solid variables.$border-color
      padding: 1rem 0
      font-size: 2rem
      gap: 1.75rem
      margin-left: 1rem

  tbody
    tr
      gap: 2.5rem
      margin-left: 1rem

      td
        padding: 1rem 0

      .id-table
        padding-right: 1.75rem
        padding-left: 1rem

    tr:nth-child(even)
      background: #191721

    tr:nth-child(odd)
      background: #16141c

.align-center
  text-align: center !important