@use '../base/variables'
@use '../layouts/mixins'
@use '../base/base-mixins'

.title
  font-size: 1.5rem
  margin: 0
  font-weight: 700
  margin-bottom: 2rem
  text-transform: capitalize

  @include base-mixins.smartphone
    font-size: 1.3rem


.title-pages
  font-size: 2rem
  color: variables.$text-color

  @include base-mixins.smartphone
    font-size: 1.5rem

.alert
  font-size: 1rem
  color: variables.$alert-color
  text-transform: none
  font-weight: 400

.no-results
  color: #cb3131