<section class='form-conatiner'>
  <div class='container-message'>
    {{#if messages.error-input-name}}
      <div class='message-error message-page'>
        <span>{{messages.error-input-name}}</span>
      </div>
    {{/if}}

  </div>

  <form action='/instituicao/add' method='POST' class='form'>
    <div class='form-control'>
      <label for='name'>Instituição:</label>
      <input
        id='name'
        name='name'
        placeholder='Nome da instituição'
        value='{{response.name}}'
      />
    </div>
    <div class='btn-submit'>
      <input type='submit' value='Cadastrar' class='btn' />
    </div>
  </form>
</section>