<section class='form-conatiner'>
  {{#if messages.error-input-name}}
    <div class='message'>
      <span>{{messages.error-input-name}}</span>
    </div>
  {{/if}}

  <form action='/instituicao/add' method='POST' class='form'>
    <div class='form-control'>
      <label for='name'>Instituição:</label>
      <input id='name' name='name' placeholder='Nome da instituição' />
    </div>
    <div class="btn-submit">
      <input type='submit' value='Cadastrar' class='btn' />
    </div>
  </form>
</section>
