<section class='form-conatiner'>
  {{#if messages.error-input-name}}
    <div class='message'>
      <span>{{messages.error-input-name}}</span>
    </div>
  {{/if}}

  <form action='/instituicao/edit' method='POST' class='form'>
    <input type="hidden" name="id" value="{{institution.id}}">
    <div class='form-control'>
      <label for='name'>Instituição:</label>
      <input id='name' name='name' placeholder='Nome da instituição'  value="{{institution.name}}"/>
    </div>
      <div class="btn-submit">
      <input type='submit' value='Atualizar' class='btn' />
    </div>
  </form>
</section>