<section class="form-conatiner">
  <form action="/tipo-de-referencia/add" method="POST" class="form">
    <div class="form-control">
      <input type="text" name="name" placeholder="Cadastre um tipo de referência">
    </div>
    <input type="submit" value="Cadastar" class="btn">
  </form>
</section>