<section class='form-conatiner'>
  {{#if messages.error-input-name}}
    <div class='message'>
      <span>{{messages.error-input-name}}</span>
    </div>
  {{/if}}
  <form action='/setor/add' method='POST' class='form'>
    <div class='form-control'>
      <label for='name'>Setor:</label>
      <input id='name' type='text' name='name' placeholder='Nome do setor' />
    </div>
    <input type='submit' value='Cadastar' class='btn' />
  </form>
</section>