<section class='form-conatiner'>
  {{#if messages.error-input-name}}
    <div class='message'>
      {{messages.error-input-name}}
    </div>
  {{/if}}
  <form action='/setor/add' method='POST' class='form'>
    <div class='form-control'>
      <input type='text' name='name' placeholder='Cadastre um setor' />
    </div>
    <input type='submit' value='Cadastar' class='btn' />
  </form>
</section>