@use '../base/variables'
@use './mixins'
@use '../base/base-mixins'

#footer
  position: absolute
  width: 100%

  border-top:  1px solid variables.$border-color
  z-index: 99999 !important
  background: #0f0d13
  
  .container-footer
    @include mixins.center-content()
    margin: 0 5%

    
    @include base-mixins.smartphone
      flex-direction: column

    img
      height: 120px
    
    h6,p,span
      color: variables.$second-text-color
      margin: 0

    h6,span
      font-weight: 200
      letter-spacing: 0.3rem

    div
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center