@use '../base/variables'
@use './mixins'
@use '../base/base-mixins'

.layout
  @include mixins.center-content()

.container-body
  min-height: 100vh
  overflow: hidden
  margin-left: 15.9%
  
  @include base-mixins.tablet
    margin-left: 30%
    width: 100%


