@use '../base/variables'
@use './mixins'
@use '../base/base-mixins'

#nav-bar
  @include mixins.center-content()
  padding: 1rem 0
  border-bottom: 1px solid variables.$border-color

  .navigation
    display: flex
    justify-content: space-between
    align-items: center
    gap: 4.5rem
    padding: 1rem 0

    li
      display: flex
      align-items: baseline
    
    a,i
      color: variables.$second-text-color

      &:hover
        color: variables.$text-color

        i
          color: variables.$text-color
    i
      font-size: 1.2rem
      margin-right: 0.5rem
    
