@use '../base/variables'
@use './mixins'
@use '../base/base-mixins'

.menu-mobile
  display: none

#nav-bar
  @include mixins.center-content()
  padding: 1rem 0
  border-bottom: 1px solid variables.$border-color

  .navigation
    display: flex
    justify-content: space-between
    align-items: center
    gap: 2rem
    padding: 1rem 0

    li
      display: flex
      align-items: baseline

    a,i
      color: variables.$second-text-color
      display: flex
      justify-content: center
      align-items: center
      font-weight: 300
      letter-spacing: 0.5px

      &:hover
        color: variables.$text-color

        i
          color: variables.$text-color
    i
      font-size: 1.2rem
      margin-right: 0.5rem

@include base-mixins.tablet
  #nav-bar
    display: none

  .menu-mobile
    display: flex
    flex-direction: column

    h2
      font-size: 1rem
      font-weight: 300
      text-transform: uppercase
      letter-spacing: 2.5px

    img
      width: 30%
      margin-top: -1rem
      margin-bottom: 1rem

    .offcanvas-header
      background-color: variables.$primary-color
      color: variables.$second-text-color
      width: 100vw

      h5
        font-weight: 100

      button
        background-color: variables.$color-red-primary
        opacity: 1

    .offcanvas-body
      background-color: variables.$bg-primary-color
      display: flex
      flex-direction: column
      height: 100vh
      border-right: 1px solid variables.$primary-color
      width: 100vw

      .header-nav
        a
          margin: 0 auto
          display: flex
          justify-content: center

          img
            width: 50%

      .form-search
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: 1rem
        border-bottom: 1px solid variables.$border-color
        padding-bottom: 5%

        input
          width: 95%
          background-color: variables.$bg-second-color
          padding: 0.75rem
          border-radius: variables.$radius
          color: variables.$second-text-color
          border: 1px solid variables.$border-color
          font-size: 80%

        .btn-search
          background-color: variables.$primary-color

      .navigation-mobile
        margin-left: 5%

        .btn-new-ticket
          margin-top: 2.5rem

        ul
          padding: 0
          display: flex
          flex-direction: column
          gap: .5rem

          li
            display: flex
            justify-content: left

            a
              margin-top: 1rem

            i
              margin-right: 1rem

            a,i
              color: variables.$text-color

      .user-name-mobile
        margin-left: 5%
        margin-top: 5%
        border-top: 1px solid variables.$border-color
        padding-top: 5%

        div
          margin-bottom: 1rem

          a
            display: flex
            justify-content: left
            align-items: center

            i
              margin-bottom: 0.4rem

          i,a
            color: variables.$second-text-color

          i
            margin-right: 1rem
      
